/* 全ページ共通 */

body{
    text-align: center;
    margin:0;
}
header{
    background: #F6CC59;
    width:100vw;
    height:8vh;
}

footer{
    position: absolute;
    bottom:0;
    left:0;
    height: 10vh;
    width: 100vw;
    border-top:1px solid #c0c0c0;
}

/* carender.html */

table{
    table-layout: fixed;
    width: 100%;
    text-align:center;
    border-collapse: collapse;
}

table td{
    padding-top:5px;
    vertical-align: top;
    height: 60px;
    font-weight: 200;
}
table th,td{
	border-bottom:1px solid #c0c0c0;
}

.weeks{
    font-size:14px; 
}

.weeks th{
    padding-bottom:13px;
}

.carender{
    margin:0 5%;
}

.month-wrapper{
    margin:3vh 0;
}

.month-wrapper p{
    display: inline-block;
}

.month{
    font-size:20px;
    font-weight: bold;
    padding:0 10px;
}

.year{
    color: #C9C9C9;
    font-size:14px;
}

.next{
    color: #C9C9C9;
}

.yearmonth{
    display: inline-block;
    width:80vw;
}


/* circle.html */

.circle{
    color:#F6CC59;
    width: 100px;/*幅*/
	height: 100px;/*高さ*/
	border-radius: 50%;/*角丸*/
}

